@charset "UTF-8";
.cities-list {
  list-style: none;
  padding: 0;
  overflow: auto;
  height: 600px; }
  .cities-list li {
    border: 1px solid #ededed;
    padding: 25px 0 25px 25px;
    font-size: 22px; }
    .cities-list li .open-spoiler {
      color: #00325e; }
    .cities-list li .spoiler-title {
      display: flex;
      justify-content: space-between; }
      .cities-list li .spoiler-title::after {
        content: url("../img/Фигура 5.png");
        width: 15px;
        height: 15px;
        position: relative;
        right: 40px; }
    .cities-list li .spoiler-title-show {
      color: #FF9E00; }
      .cities-list li .spoiler-title-show::after {
        transform: rotate(180deg);
        top: 15px; }
    .cities-list li .spoiler-container {
      font-size: 16px; }
    .cities-list li .office-name {
      color: #1e355d; }
    .cities-list li .manager-name {
      color: #212121; }
    .cities-list li .phone-container {
      color: black; }
      .cities-list li .phone-container span {
        margin-right: 15px; }
    .cities-list li .manager-mail {
      color: #5ac1ec; }

.spoiler-container {
  display: none; }

.spoiler-show {
  display: block;
  margin-bottom: 45px; }

.information-countries {
  margin-bottom: 15px;
  height: 50px; }
  .information-countries ul {
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-start;
    align-content: flex-start; }
  .information-countries li {
    flex-grow: 2;
    background-color: white;
    border: 1px solid #929292;
    padding: 15px 0;
    text-align: center;
    color: #929292; }
    .information-countries li:hover {
      background-color: #FF9E00;
      color: white; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif; }

.content-box {
  display: flex;
  align-items: 1;
  padding: 0; }

.information {
  width: 25%;
  height: 700px;
  background-color: #fafafa; }

.map-box {
  width: 75%;
  height: 700px; }
